<div class="container-fluid">
<form action="/fintechs/new" method="post" style="border-color: #3AB795">
  <div class="container">
  <div class="row">
<div class="col-lg-10 col-xl-9 mx-auto">
  <div class="card card-signin my-5">
  <div class="card-body" style=" background-color:#ebfbf4;">

    <h5 class="card-title text-center">Create a Company:</h5>
      <hr class="my-4">
    <div class="form-group">
      <label for="fintechname">Name of Company:</label>
      <input type="text" id="fintechname" class="form-control"  placeholder="Enter Company Name" name="fintechname" required>
    </div>
    <div class="form-group">
      <label for="fintechname">Founded:</label>
      <input type="text" id="founded" class="form-control"  placeholder="Enter Year Founded" name="founded" required>
    </div>
    <div class="form-group">
      <label for="sector">Sector:</label>
      <input type="text" id="sector" class="form-control"  placeholder="Enter Company Sector"name="sector" required>
    </div>
    <div class="form-group">
      <label for="founders">Founder(s):</label>
      <input type="text" id="sector" class="form-control"  placeholder="Enter Company Founders"name="founders" required>
    </div>
    <div class="form-group">
      <label for="url">Company Url:</label>
      <input type="text" id="sector" class="form-control"  placeholder="Copy the URl to the Company's website"name="url" required>
    </div>

    <hr class="my-4">
    <button class="btn btn-lg btn-warning btn-block text-uppercase" type="submit">Submit</button> 

  </div>
  </div>
  </div>
  </div>
  </div>
</form>
</div>