<div class="container-fluid">
<div class="container">
<div class="row">
<div class="col-lg-10 col-xl-9 mx-auto">
<div class="card card-signin my-5">
<div class="card-body" style=" color: #3AB795; background-color:# #ebfbf4;">

  <h5 class="card-title text-center">Sorry, we can't find that Company</h5>
  <a href="/fintechs/new" class="text-white"><button type="submit" class="btn btn-lg btn-warning btn-block">Create a new Company Profile</button></a>

</div>
</div>
</div>
</div>
</div>
</div>