<div class="container-fluid">
<%if !logged_in?%>

<div class="container">
<div class="row">
<div class="col-lg-10 col-xl-12 mx-auto">
<div class="card card-signin my-5">
<div class="card-body"style="border: solid; border-color: #3AB795;  background-color:#EDEAD0;">

    <hr class="my-4">
    <a href='/login'><button class="btn btn-lg btn-warning btn-block text-uppercase" type="submit">Login</button></a>
    <hr class="my-4">
    <a href='/signup'><button class="btn btn-lg btn-warning btn-block text-uppercase" type="submit">Sign Up</button></a>
    <hr class="my-4">

</div>
</div>
</div>
</div>
</div>

<%end%>
</div>

