<div class="container-fluid">
  <div class="container">
  <div class="row">
<div class="col-lg-10 col-xl-9 mx-auto">
  <div class="card card-signin my-5">
  <div class="card-body" style="color: #3AB795; background-color:#ebfbf4;">
<form method='POST' action='/login'>
    <h5 class="card-title text-center">Sign In:</h5>
    <hr class="my-4">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control"id="username" name="username" required>
    </div>
    <div class="form-group">
      <label for="pswd">Password:</label>
      <input type="password" class="form-control" id="pswd" name="pswd" required>
    </div>

    <button class="btn btn-lg btn-warning btn-block text-uppercase" type="submit">Sign in</button>
    <hr class="my-4">
  </form>
      <a href='/signup'><button class="btn btn-lg btn-warning btn-block text-uppercase" type="submit">Sign Up</button></a>
  </div>
  </div>
  </div>
  </div>
  </div>
</div>
